@font-face {
    font-family: "Rock";
    src: url(img/Font/RockerFont.ttf);
}

@font-face {
    font-family: "Title";
    src: url(img/Font/VarelaRound-Regular.ttf);
}

html {
    padding: 0;
    margin: 0;

}


body {
    background-color: rgba(73, 60, 60, 0.938);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Title";

}


.Head {
    display: flex;
    justify-content: center;
    background-color: rgb(6, 7, 7);
    padding: 35px;


}

.gameName {
    font-family: "Rock";
    font-size: 75px;
    color: rgb(238, 3, 3);
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px;
    gap: 10px;

}

.weapon-menu {
    font-size: 40px;
    font-size: 75px;
    color: rgb(206, 204, 204);
}

.rule-descrip {
    font-size: 20px;
    font-size: 30px;
    color: rgb(206, 204, 204);
}

.game-dis {
   
    display: flex;
    
    align-items: center;
    justify-content: center;
    color: rgb(206, 204, 204);
    gap: 400px;
   
}
 .player-dis,.ai-dis{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;    
    margin-top: 25px;
 }

 .score-discrip{
    position: absolute;
    
    
    font-size: 30px;
    color: rgb(206, 204, 204);
    margin: 0;
    padding: 0;

 }



.player-weapon,
.ai-weapon {
    
    width: 75px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.player-weapon.activeimg, .ai-weapon.activeimg {
    width: 114px;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;  
}

.player-score,
.ai-score {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}



.weapon-chooster {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 75px;
  
    
}

.rock,
.paper,
.scissors {
    width: 150px;
    height: 150px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.rock:hover,
.paper:hover,
.scissors:hover {
    filter: grayscale(50%);
    transform: scale(1.2);
}

.weapon-display {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    font-family: "Title";
    font-size: 35px;
    color: rgb(206, 204, 204);
    

}

.weapon-display.active {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    font-family: "Title";
    font-size: 35px;
    color: rgb(206, 204, 204);

}



.copy-right {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: rgb(206, 204, 204);
    font-size: 20px;
}


.fa-github {
    color: var(--primary-light);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
    color: black;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}








